name: HACS Validation

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  hacs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: HACS Validation
        uses: hacs/action@23.3.0
        with:
          category: integration
          ignore: "tests"
